<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico"> -->

    <title>MIND AND NATURE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
        <h2> Our story </h2>
        <br>
        <h4> Words from Dr. Sarah Bennett, Mind and Nature Founder</h4>
        <br>
        <!-- <p> In 2006, my lifestyle was very different.
          I was a typical 9 to 5 employee and knew little on how climate change was impacting our world.
          After a conversation with a friend all that changed. I had an epiphany.
          I realised every single thing we do shapes the kind of world we want to live in. That's what led me to start 1 Million Women (1MW).
          I figured that there must be millions of other people out there who also connected with that idea.
          I believed that individuals, and particularly women, had incredible power to change the future.

          I left behind the over-packaged world of skincare and beauty products, and
          began building a global movement of women and girls. My aim was to empower women everywhere to act on climate change through the way they live
          To empower people is a truly glorious thing to wake up for,
          and 1 Million Women is now a movement of 600,000+ women and girls (and growing everyday).
           We are pioneers in the gender and climate change arena in Australia and around the world.
        </p> -->

        <p>Water is vital for all known forms of life.
          Biologically the human body is more than two thirds composed of water.
          We can survive weeks without food, but only days without water.
          This resource is also essential for producing our food, clothing, healthy environments, and other human needs.</p>

          <p>Although we live on a water planet that has 71 percent of its surface is covered by water, freshwater makes up a very small fraction.
            In fact, only 0.007 percent of the total amount is available for sustaining 7.3 billion people’s life on the Earth.
            Even then, it is highly uneven distributed geographically by the water cycle movement through rainfall. </p>

          <p>Therefore, fresh water scarcity has been a painful reality for many regions in the world.
              It is even more intense today due to climate change, growing population, human debilitating pollution (human waste, agriculture and industrial pollution).
              According to WHO (the United Nations) 2015 report, currently 1 billion people are lack of safe drinking water, and 2.4 billion people are lack of sanitation.
              By 2025 an estimated two - thirds of the world’s population will live in water stressed regions.
              Scientists around world have been working tirelessly to find solutions of sustaining water resources.
              However, it has been a little success so far due to the myriad environmental, political, economic, and social obstacles. </p>

            <p>I will be with you to start a whole new approach, to address and define the global water crisis and related environmental issues through a Buddhist lens. To examine the “inner roots” of the problems, how human greed, fear and anxiety, arrogance, and ignorance, play a great part in it, through our behaviours, habits, and systems. Finally, to explore possible solutions to sustain our water resource systems, to save our lives and our planet by practicing simple Buddhist thinking and living. It might be the only solution for us!</p>

		</div><! --/row -->
	</div><! --/container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
